# Ignore created volumes
wirecloud_instance
static
postgres-data
mysql-idm
mysql-cygnus
crate-db

# Ignore virtual environment
env/

# Ignore temporal execution steps in ansible
deploy/deploy_fiware.retry

# Ignore IDE folders
.vscode/
.idea/
